.box{
    width: 50px;
    height: 50px;
    background-color: greenyellow;
}

.spacer{
    margin: 50px;
}
.circle{
    background-color: purple;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


